<a routerLink="'menu'">
  <span class="icon-home"></span>
</a>

<mat-tab-group dynamicHeight>
  <mat-tab label="Список гостей">
    <div class="box" *ngFor="let item of [1, 2, 3, 4, 5]">
      <img class="card" src="assets/img/decor/guest-list/{{item}}.png" alt="">
    </div>
  </mat-tab>

  <mat-tab label="Стулья">
    <div class="box" *ngFor="let item of [1]">
      <img class="card" src="assets/img/decor/chair/{{item}}.png" alt="">
    </div>
  </mat-tab>

  <mat-tab label="Кольца">
    <div class="box" *ngFor="let item of [1]">
      <img class="card" src="assets/img/rings/{{item}}.png" alt="">
    </div>
  </mat-tab>
</mat-tab-group>
